<h1>Listing Books </h1>
    <% @users.each do |user| %>
    <% if current_user.id == user.book.user_id %>
      <div class="templatemo_product_box" style="height:270px;">
        <%else%>
        <div class="templatemo_product_box">
        <%end%>

              <h1><%= user.book.name %> <span></span></h1>
                <div class="product_info">
              <h5> Price :<%= user.book.price %></h5>
               <h5> Status : <%= user.book.status %></h5>
               <h5> Category :  <%= user.book.category.name  %></h5>
        <% if current_user.id == user.book.user_id || current_user.user_type_id ==1 %>
        <% if current_user.id == user.book.user_id %>
        <div class="detail_button"><%= link_to 'Edit', edit_book_path(book) %> </div>
        <%end%>
        <div class="detail_button"><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %> </div>
        <% end %>
         <div class="buy_now_button"><%= link_to 'Details', book %></div>
            </div>
                <div class="cleaner">&nbsp;</div>
            </div>
      
      <% end %>
